body 
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#dee0e3
}

.header_bar
{
    background-color:#1f2937;
    padding: 10px;
    margin-top: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container
{
    margin-top: 50px;
    display: flex;
}

.container #submission
{
    margin-left: 50px;
}

.container form div #location
{
    width: 15vw;
    height: 4vh;
}

.container form #submit
{
    background-color:#1f2937;
    width: 15.5vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    border-color: aliceblue;
    height: 5vh;
    cursor: pointer;
    margin-top: 15px;
}

.container #today_reading
{
    background-color:#1f2937;
    width: 66vw;
    height: 25vh;
    margin-left: 40px;
    border-radius: 5px;
    display: flex;
}

#four_day_reading
{
    background-color:#dee0e3;
    width: 70vw;
    height: 40vh;
    margin-left: 330px;
    margin-top: 40px;
    border-radius: 5px;
    display: flex;
}

#four_day_reading #first
{
    background-color:#535456;
    width: 15vw;
    height: 35vh;
    border-radius: 5px;
}

#four_day_reading #second
{
    background-color:#535456;
    width: 15vw;
    height: 35vh;
    margin-left: 30px;
    /*margin-top: 40px;*/
    border-radius: 5px;
}

#four_day_reading #third
{
    background-color:#535456;
    width: 15vw;
    height: 35vh;
    margin-left: 30px;
    /*margin-top: 40px;*/
    border-radius: 5px;
}

#four_day_reading #fourth
{
    background-color:#535456;
    width: 15vw;
    height: 35vh;
    margin-left: 30px;
    /*margin-top: 40px;*/
    border-radius: 5px;
}

#forecast_title
{
    margin-left: 330px;
}